.container{
    background-color: #d8f3dc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.container li{
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.container li:hover{
    background-color: #c3facb;
}