.form {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px 0;
    margin: 5px 15px;
}

.destaque {
    grid-column: span 4;
}

.vertical {
    grid-row: span 2;
}

.largo {
    grid-column: span 4;
}

.normal {
    grid-column: span 2;
}

.grid {
    grid-template-columns: 1fr;
    gap: 1.2rem;
    width: 100%;
}

@media (min-width:768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

}