.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin: 5px 10px;
    background-color: #d8f3dc;
    color: black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.item:hover {
    cursor: pointer;
    background-color: #c3facb;
}

.details {
    background: none;
    border: none;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 200ms;
}

.details img {
    width: 20px;
}

.details:hover{
    background-color: #7abb83;
}

.positivo{
    color: rgb(0, 195, 0);
}

.negativo{
    color: rgb(255, 35, 35);
}

@media (min-width:768px) {
    .item {
        flex-direction: row;
    }

}