.layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:768px) {
    .content {
        padding: 2rem;
    }
}