.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
}

.container img {
    width: 15em;
    margin: none
}

@media (min-width:768px) {
    .container {
        flex-direction: row;
        justify-content: center;
        gap: 15em;
    }
}