.form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 10px 0;
    margin: 5px 15px;
}

.destaque {
    grid-column: span 4;
    grid-row: span 2;
}

.vertical {
    grid-row: span 2;
}

.largo {
    grid-column: span 3;
}

.normal {
    grid-column: span 1;
}

.grid {
    grid-template-columns: 1fr;
    gap: 1.2rem;
    width: 100%;
}

@media (min-width:768px) {
    .grid {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }

}