.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin: 5px 10px;
    background-color: #d8f3dc;
    color: black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.item:hover {
    cursor: pointer;
    background-color: #c3facb;
}

.details {
    background: none;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.details img {
    width: 30px;
}

.details:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (min-width:768px) {
    .item {
        flex-direction: row;
    }

}