.container {
  margin: 0 auto;
  width: 100%;
  background-color: #d8f3dc;
  padding: 20px;

  display: grid;
  grid-template-rows: auto auto 1fr;

  height: 100vh;
  overflow-y: auto;
  align-content: start;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.end {
  margin-left: auto;
}

.icon {
  cursor: pointer;
  width: 40px;
  height: auto;
}

.error {
  color: #ca0000;
  font-weight: 500;
  margin: 0 0 10px 0;
}

li .error  {
  margin: 0;
}

.success {
  color: #13a700;
  font-weight: 500;
  margin: 0 0 10px 0;
}

li .success  {
  margin: 0;
}

@media (min-width:768px) {
  .icon {
    width: 50px;
  }

  .container {
    height: 85vh;
  }

}