:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #d8f3dc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}


a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: none;
  color: rgb(69, 44, 255);
}

.container {
  margin: 0 auto;
  width: 90%;
  background-color: #d8f3dc;
  padding: 20px;

  display: grid;
  grid-template-rows: auto 1fr;
  height: 90%;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}