.button {
    font-size: 15px;
    padding: 10px 30px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    transition: background-color 300ms;
    justify-self: start;
    width: fit-content;
}

.button:hover{
    cursor: pointer;
}

.solid {
    background-color: #d4d700;
}

.solid:hover {
    background-color: #eeef20;
    transition: background-color 300ms;
}

.text_button {
    background: none;
    color: #d4d700;
    transition: color 300ms;
}

.text_button:hover {
    color: #eeef20;
}