.button {
    font-size: large;
    padding: 10px 30px;
    margin: 10px 0;
    background-color: #d4d700;
    border: none;
    border-radius: 5px;
    transition: background-color 300ms;
}

.button:hover {
    background-color: #eeef20;
    cursor: pointer;
    transition: background-color 300ms;
}

.text_button {
    font-size: large;
    border: none;
    margin: 10px 0;
    background: none;
    color: #d4d700;
    transition: color 300ms;
}

.text_button:hover {
    border: none;
    cursor: pointer;
    color: #eeef20;
}