.control {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: #000
}

.control label {
    font-size: large;
}

.control input {
    border: 1px solid #ccc;
    border-radius: 6px;
    height: 36px;
    padding: 0 10px;
    font-size: 1rem;
}