.modal {
    display: none;
    flex-direction: column;
    width: 40%;
    background-color: #d8f3dc;
    color: black;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.modal[open] {
    display: flex; /* ou block, dependendo do seu layout */
}